body{
    background-image: url(pic1.jpg);
    background-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

#title, #description {
    margin: 1em auto;
    text-align: center;
}

form{
    background-color: rgba(146, 144, 144, 0.705);
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding: 1em;
    border-color: black;
    border-style:groove;
    margin-bottom: 2rem;
}

label{
    display: block;
    margin: 0.5rem 0;
}
  
input, textarea, select{
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 25px;
    background-color: #5c5c5fb9;
    border: 1px solid #05050594;
    color: #ffffff;
}

fieldset{
    margin-bottom: 1rem;
    padding: 1rem;
}

#submit{
    display: block;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #3030338a;
    border-color: rgba(12, 12, 12, 0.753);
}

.inline{
    width: unset;
    display: inline;
    margin: 0 5% 0 0;
    vertical-align: middle;
}
legend{
    text-align: center;
}
